.cart{
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.2rem;
}

.cartItem{
    display: inline-block;
    margin:20px;
}

.cartItem img{
    padding:10px;
    width: 80px;
    height: 80px;  
}

.bookTitle, .bookPrice{
    font-weight: bold;
}